---
layout: default
title: Eddie Fernandez UX Researcher and Service Designer
description: Eddie Fernandez is a UX Researcher and Service Designer based in the Bay Area.
---
<section class="full-col align-center-horiz max-text-width">
  <p class="text1">&iexcl;Hola! I'm Eddie.</p>
  <p>I'm a <em class="inline-em">UX Researcher and Service Designer</em> looking to join a values-based team based in the Bay Area. Three things one can expect working with me.</p>

  <ul>
    <li>My research digs deep and clarifies the most messiest problem spaces.</li>
    <li>I know how to build consensus and facilitate design workshops to move teams forward.</li>
    <li>As a native Spanish speaker, I know how to improve services for bilingual and bicultural audiences.</li>
  </ul>
</section>

<section class="full-col align-center-horiz">
  <h1 class="styled-header">My Work</h1>
  {% for page in site.pages %} {% if page.layout == "portEntry" %}
    <div class="project">
      <h3 class="project-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.shortTitle }}</a></h3>
      <div class="">
        <p><span class="label-block">Methods Used</span>{{ page.methods }}</p>
        <p>{{ page.description }}</p>
      </div>
    </div>
  {% endif %} {% endfor %}
</section>
