---
layout: default
title: Eddie Fernandez | UX Researcher and Service Designer
description: Eddie Fernandez is a UX Researcher and Service Designer based in the Bay Area.
---
<section class="full-col align-center-horiz max-text-width">
  <p class="text1 center">&iexcl;Hola!</p>
  <p>I'm a <em class="inline-em">UX Researcher and Service Designer</em> looking to join a growing values-based team in the Bay Area.</p>

  <ul>
    <li>My user research clarifies the messiest problem spaces and helps teams design well-informed solutions.</li>
    <li>I naturally build rapport with people and know how to build consensus to keep teams moving forward.</li>
    <li>As a native English and Spanish speaker, I can find opportunities in emerging markets.</li>
  </ul>
</section>

<section class="full-col align-center-horiz">
  <h1 class="styled-header">My Work</h1>
  {% for page in site.pages %} {% if page.layout == "portEntry" %}
    <div class="project">
      <h2 class="project-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.shortTitle }}</a></h2>
      <div class="">
        <p><span class="label-block">Methods Used</span>{{ page.methods }}</p>
        <p>{{ page.description }}</p>
      </div>
    </div>
  {% endif %} {% endfor %}
</section>
