html {
  background-color: $background-color;
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: $body-font;
  color: $type-dark;
  line-height: $line-height;
}

.prose-width {
  margin: 0 auto;
  max-width: $prose-width;
}

.wide-width {
  margin: 0 auto;
  max-width: $max-width;
}

// Typography

h1, h2, h3, h4 {
  font-family: $heading-font;
  line-height: 1.5em;
}

h1, .text1 {
  font-size: $header-1;
}

h2, .text2 {
  font-size: $header-2;
}

h3, .text3 {
  font-size: $header-3;
}

h4, .text4 {
  font-size: $header-4;
}

strong {
  color: $accent-green;
}

.styled-header, blockquote {
  border-left-color: $accent-orange;
  border-left-style: solid;
  padding-left: $gap1;
}

.styled-header {
  border-left-width: $border-2;
}

blockquote {
  border-left-width: $border-1;
}

cite {
  display: block;
}

// Header & Navigation
header {
  background-color: $dark-blue;
}

nav {
  a {
    padding: 0 $gap1;
    padding-bottom: $gap025;
    color: $type-light;
    text-decoration: none;
    &:hover {
      border-bottom-color: $accent-orange;
      border-bottom-style: solid;
      border-bottom-width: $border-1;
    }
  }
  ul {
    margin: 0;
    padding: $gap05 0;
    text-align: right;
    li {
      display: inline-block;
      margin: $gap025 0;
    }
  }
}
