html {
  background-color: $background-color;
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: $body-font;
  color: $type-dark;
  line-height: $line-height;
}

// Typography
p, h1, h2, h3, h4, .text1, .text2, .text3, .text4 {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  line-height: 1.5em;
  letter-spacing: 1px;
}

h1, .text1 {
  font-size: $header-1;
}

h2, .text2 {
  font-size: $header-2;
}

h3, .text3 {
  font-size: $header-3;
}

h4, .text4 {
  font-size: $header-4;
}

.styled-header, blockquote {
  border-left-color: $accent-orange;
  border-left-style: solid;
  padding-left: $gap1;
}

.styled-header {
  border-left-width: $border-2;
}

.zeroed-header {
  margin: 0;
  margin-bottom: $gap05;
}

blockquote {
  border-left-color: $light-blue;
  border-left-width: $border-1;
  padding: $gap1 $gap1;
  background-color: $light-grey;
  font-style: italic;
  p {
    margin: 0;
  }
}

cite {
  display: block;
}

strong, em, .label {
  font-style: normal;
  font-weight: bold;
  color: $accent-green;
}

.label {
  display: block;
}

.no-decoration-dark, .no-decoration-light{
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.no-decoration-dark {
  color: $type-dark;
}

.no-decoration-light {
  color: $type-light;
}

@media (max-width: 599px) {
  html {
    font-size: $font-size-mobile;
  }

  h1, .text1 {
    font-size: $header-1-mobile;
  }

  h2, .text2 {
    font-size: $header-2-mobile;
  }

  h3, .text3 {
    font-size: $header-3-mobile;
  }

  h4, .text4 {
    font-size: $header-4-mobile;
  }
}

// Layout: Navigation

header, main {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: $gap1 0;
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 $gap1;
    }
    li:last-child {
      padding-right: 0;
    }
  }
  a {
    text-decoration: none;
    color: $type-dark;
    padding: 0 $gap05;
    padding-bottom: $gap025;
    &:hover {
      border-bottom: 5px solid $accent-orange;
    }
  }
}

.active {
  border-bottom: 5px solid $accent-orange;
}

// Layout: Grid

main {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 600px) 1fr;
  grid-column-gap: $gap1;
  grid-row-gap: $gap2;
}

// Layout: Home Page

.blog, article {
  grid-column-start: 2;
  grid-column-end: 3;
}

.intro {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.projects {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

  .project-entry {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 600px) 1fr;
    padding-top: $gap1;
    border-bottom: 1px dotted $light-blue;
    &:last-child {
      border-bottom: 0;
    }
  }

    .section-header {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .project-title {
      grid-column-start: 1;
      grid-column-end: 2;
      // display: flex;
      // align-items: center;
      padding-right: $gap1;
    }

    .project-details {
      grid-column-start: 2;
      grid-column-end: 3;
    }

      .project-methods {
        text-align: center;
      }

    .project-button {
      grid-column-start: 3;
      grid-column-end: 4;
      display: flex;
      align-items: center;
      justify-content: center;
    }

.new-post {
  grid-row-start: 3;
}

// Layout: Portfolio Entries

.entry-header {
    margin-bottom: $gap025;
}

article img {
  display: block;
  margin: 0 auto;
}
